In [41]:
import pandas as pd
import csv
import numpy as np
from urllib.request import urlopen
import json
url="https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json" 
raw_data=urlopen(url).read() # Downloading the data
json=json.loads(raw_data)

In [42]:
# Checking the column
record=(json["pokemon"])

In [43]:
field_name=['id', 'num', 'name', 'img', 'type', 'height', 'weight', 'candy',
       'candy_count', 'egg', 'spawn_chance', 'avg_spawns', 'spawn_time',
       'multipliers', 'weaknesses', 'prev_evolution', 'next_evolution']

In [44]:
# Saving the file
with open('output.csv', 'w', newline='') as csv_file:
    writer = csv.DictWriter(csv_file, fieldnames=field_name)
    writer.writeheader()
    writer.writerows(record)

In [45]:
# Reading the file
df1=pd.read_csv('output.csv')

In [46]:
# Changing the Pokeman height data type to float 
def height1(i):
  a=i.split()[0]
  return float(a)

df1['height']=df1['height'].apply(height1)

# Changing the Pok√©mon weight to float
def weight1(i):
  a=i.split()[0]
  return float(a)
df1['weight']=df1['weight'].apply(weight1)

In [47]:
# candy_count: the amount of candies required to evolve int

def candy_count(i):
    try:
        return int(i)
    except ValueError:
        return 0

df1['candy_count'] = df1['candy_count'].apply(candy_count)

In [48]:
# : Number of kilometers to travel to hatch the egg - float
def egg1(i):
  a=i.split()[0]
  try:
      return float(a)
  except ValueError:
      return 0
df1["egg"]=df1["egg"].apply(egg1)

In [49]:
# avg_spawns: Number of this pokemon on 10.000 spawns (NEW) - int
def avg_spawn1(i):
  try:
    a=str(i).split(':')
    
    if len(a)==2:
    
      return float(a[0]+'.'+a[1])
    else:
      return float(a[0])
    


  except ValueError:
    return 0

df1['avg_spawns']=df1["avg_spawns"].apply(avg_spawn1)

In [50]:

# avg_spawns: Number of this pokemon on 10.000 spawns (NEW) - int
def convert_multipliers(multipliers):
    try:
        evaluated_obj = eval(multipliers)
        if isinstance(evaluated_obj, list):
            return evaluated_obj
    except (ValueError, TypeError):
        pass
    return np.nan

df1['multipliers'] = df1['multipliers'].apply(convert_multipliers)

In [51]:
#Percentage of spawn chance (NEW) - float
df1['spawn_chance']=df1['spawn_chance']/100

In [52]:
# avg_spawns: Number of this pokemon on 10.000 spawns (NEW) - int
df1['avg_spawns']=df1['avg_spawns']*10
df1['avg_spawns']=df1['avg_spawns'].astype(int,errors='ignore')

# Creating a new datetime column with combined minute and second
df1['spawn_time'] = df1['spawn_time'].fillna('00:00')

df1['spawn_time'] = pd.to_datetime(df1['spawn_time'], format="%M:%S")

In [53]:
# Saving the csv  file to xlsx file
df2=df1
excel_file_name='pokeman.xlsx'
df1.to_excel(excel_file_name, index=False)

In [54]:
df1.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,prev_evolution,next_evolution
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"['Grass', 'Poison']",0.71,6.9,Bulbasaur Candy,25,2.0,0.00690,690,1900-01-01 00:20:00,[1.58],"['Fire', 'Ice', 'Flying', 'Psychic']",NaN,"[{'num': '002', 'name': 'Ivysaur'}, {'num': '0..."
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"['Grass', 'Poison']",0.99,13.0,Bulbasaur Candy,100,0.0,0.00042,42,1900-01-01 00:07:00,"[1.2, 1.6]","['Fire', 'Ice', 'Flying', 'Psychic']","[{'num': '001', 'name': 'Bulbasaur'}]","[{'num': '003', 'name': 'Venusaur'}]"
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"['Grass', 'Poison']",2.01,100.0,Bulbasaur Candy,0,0.0,0.00017,17,1900-01-01 00:11:30,NaN,"['Fire', 'Ice', 'Flying', 'Psychic']","[{'num': '001', 'name': 'Bulbasaur'}, {'num': ...",NaN
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,['Fire'],0.61,8.5,Charmander Candy,25,2.0,0.00253,253,1900-01-01 00:08:45,[1.65],"['Water', 'Ground', 'Rock']",NaN,"[{'num': '005', 'name': 'Charmeleon'}, {'num':..."
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,['Fire'],1.09,19.0,Charmander Candy,100,0.0,0.00012,12,1900-01-01 00:19:00,[1.79],"['Water', 'Ground', 'Rock']","[{'num': '004', 'name': 'Charmander'}]","[{'num': '006', 'name': 'Charizard'}]"

In [55]:
df1.dtypes

id                         int64
num                        int64
name                      object
img                       object
type                      object
height                   float64
weight                   float64
candy                     object
candy_count                int64
egg                      float64
spawn_chance             float64
avg_spawns                 int64
spawn_time        datetime64[ns]
multipliers               object
weaknesses                object
prev_evolution            object
next_evolution            object
dtype: object

In [56]:
# Get all Pokemons whose spawn rate is less than 5%
df2[df2['spawn_chance']<0.05]

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,prev_evolution,next_evolution
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"['Grass', 'Poison']",0.71,6.9,Bulbasaur Candy,25,2.0,0.006900,690,1900-01-01 00:20:00,[1.58],"['Fire', 'Ice', 'Flying', 'Psychic']",NaN,"[{'num': '002', 'name': 'Ivysaur'}, {'num': '0..."
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"['Grass', 'Poison']",0.99,13.0,Bulbasaur Candy,100,0.0,0.000420,42,1900-01-01 00:07:00,"[1.2, 1.6]","['Fire', 'Ice', 'Flying', 'Psychic']","[{'num': '001', 'name': 'Bulbasaur'}]","[{'num': '003', 'name': 'Venusaur'}]"
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"['Grass', 'Poison']",2.01,100.0,Bulbasaur Candy,0,0.0,0.000170,17,1900-01-01 00:11:30,NaN,"['Fire', 'Ice', 'Flying', 'Psychic']","[{'num': '001', 'name': 'Bulbasaur'}, {'num': ...",NaN
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,['Fire'],0.61,8.5,Charmander Candy,25,2.0,0.002530,253,1900-01-01 00:08:45,[1.65],"['Water', 'Ground', 'Rock']",NaN,"[{'num': '005', 'name': 'Charmeleon'}, {'num':..."
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,['Fire'],1.09,19.0,Charmander Candy,100,0.0,0.000120,12,1900-01-01 00:19:00,[1.79],"['Water', 'Ground', 'Rock']","[{'num': '004', 'name': 'Charmander'}]","[{'num': '006', 'name': 'Charizard'}]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,147,Dratini,http://www.serebii.net/pokemongo/pokemon/147.png,['Dragon'],1.80,3.3,Dratini Candy,25,10.0,0.003000,300,1900-01-01 00:06:41,"[1.83, 1.84]","['Ice', 'Dragon', 'Fairy']",NaN,"[{'num': '148', 'name': 'Dragonair'}, {'num': ..."
147,148,148,Dragonair,http://www.serebii.net/pokemongo/pokemon/148.png,['Dragon'],3.99,16.5,Dratini Candy,100,0.0,0.000200,20,1900-01-01 00:11:57,[2.05],"['Ice', 'Dragon', 'Fairy']","[{'num': '147', 'name': 'Dratini'}]","[{'num': '149', 'name': 'Dragonite'}]"
148,149,149,Dragonite,http://www.serebii.net/pokemongo/pokemon/149.png,"['Dragon', 'Flying']",2.21,210.0,Dratini Candy,0,0.0,0.000011,1,1900-01-01 00:23:38,NaN,"['Ice', 'Rock', 'Dragon', 'Fairy']","[{'num': '147', 'name': 'Dratini'}, {'num': '1...",NaN
149,150,150,Mewtwo,http://www.serebii.net/pokemongo/pokemon/150.png,['Psychic'],2.01,122.0,None,0,0.0,0.000000,0,1900-01-01 00:00:00,NaN,"['Bug', 'Ghost', 'Dark']",NaN,NaN
150,151,151,Mew,http://www.serebii.net/pokemongo/pokemon/151.png,['Psychic'],0.41,4.0,None,0,0.0,0.000000,0,1900-01-01 00:00:00,NaN,"['Bug', 'Ghost', 'Dark']",NaN,NaN

In [57]:
# Get all Pokemons that have less than 4 weaknesses
def len_weakness(i):
  
  return len(eval(i))

df2['weakness_length']=df2['weaknesses'].apply(len_weakness)
df2[df2['weakness_length']<4]

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,prev_evolution,next_evolution,weakness_length
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,['Fire'],0.61,8.5,Charmander Candy,25,2.0,0.002530,253,1900-01-01 00:08:45,[1.65],"['Water', 'Ground', 'Rock']",NaN,"[{'num': '005', 'name': 'Charmeleon'}, {'num':...",3
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,['Fire'],1.09,19.0,Charmander Candy,100,0.0,0.000120,12,1900-01-01 00:19:00,[1.79],"['Water', 'Ground', 'Rock']","[{'num': '004', 'name': 'Charmander'}]","[{'num': '006', 'name': 'Charizard'}]",3
5,6,6,Charizard,http://www.serebii.net/pokemongo/pokemon/006.png,"['Fire', 'Flying']",1.70,90.5,Charmander Candy,0,0.0,0.000031,3,1900-01-01 00:13:34,NaN,"['Water', 'Electric', 'Rock']","[{'num': '004', 'name': 'Charmander'}, {'num':...",NaN,3
6,7,7,Squirtle,http://www.serebii.net/pokemongo/pokemon/007.png,['Water'],0.51,9.0,Squirtle Candy,25,2.0,0.005800,580,1900-01-01 00:04:25,[2.1],"['Electric', 'Grass']",NaN,"[{'num': '008', 'name': 'Wartortle'}, {'num': ...",2
7,8,8,Wartortle,http://www.serebii.net/pokemongo/pokemon/008.png,['Water'],0.99,22.5,Squirtle Candy,100,0.0,0.000340,34,1900-01-01 00:07:02,[1.4],"['Electric', 'Grass']","[{'num': '007', 'name': 'Squirtle'}]","[{'num': '009', 'name': 'Blastoise'}]",2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,146,146,Moltres,http://www.serebii.net/pokemongo/pokemon/146.png,"['Fire', 'Flying']",2.01,60.0,None,0,0.0,0.000000,0,1900-01-01 00:00:00,NaN,"['Water', 'Electric', 'Rock']",NaN,NaN,3
146,147,147,Dratini,http://www.serebii.net/pokemongo/pokemon/147.png,['Dragon'],1.80,3.3,Dratini Candy,25,10.0,0.003000,300,1900-01-01 00:06:41,"[1.83, 1.84]","['Ice', 'Dragon', 'Fairy']",NaN,"[{'num': '148', 'name': 'Dragonair'}, {'num': ...",3
147,148,148,Dragonair,http://www.serebii.net/pokemongo/pokemon/148.png,['Dragon'],3.99,16.5,Dratini Candy,100,0.0,0.000200,20,1900-01-01 00:11:57,[2.05],"['Ice', 'Dragon', 'Fairy']","[{'num': '147', 'name': 'Dratini'}]","[{'num': '149', 'name': 'Dragonite'}]",3
149,150,150,Mewtwo,http://www.serebii.net/pokemongo/pokemon/150.png,['Psychic'],2.01,122.0,None,0,0.0,0.000000,0,1900-01-01 00:00:00,NaN,"['Bug', 'Ghost', 'Dark']",NaN,NaN,3
150,151,151,Mew,http://www.serebii.net/pokemongo/pokemon/151.png,['Psychic'],0.41,4.0,None,0,0.0,0.000000,0,1900-01-01 00:00:00,NaN,"['Bug', 'Ghost', 'Dark']",NaN,NaN,3

In [58]:
# Get all Pokemons that do not have more than 2 evolutions

def evolution_length(i):
    try:
        if pd.isnull(i):
            return 0
        else:
            return len(eval(i))
    except ValueError:
        raise np.nan

df2['evolution_length'] = df2['next_evolution'].apply(evolution_length)
df2[df2['evolution_length']<2]

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,prev_evolution,next_evolution,weakness_length,evolution_length
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"['Grass', 'Poison']",0.99,13.0,Bulbasaur Candy,100,0.0,0.000420,42,1900-01-01 00:07:00,"[1.2, 1.6]","['Fire', 'Ice', 'Flying', 'Psychic']","[{'num': '001', 'name': 'Bulbasaur'}]","[{'num': '003', 'name': 'Venusaur'}]",4,1
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"['Grass', 'Poison']",2.01,100.0,Bulbasaur Candy,0,0.0,0.000170,17,1900-01-01 00:11:30,NaN,"['Fire', 'Ice', 'Flying', 'Psychic']","[{'num': '001', 'name': 'Bulbasaur'}, {'num': ...",NaN,4,0
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,['Fire'],1.09,19.0,Charmander Candy,100,0.0,0.000120,12,1900-01-01 00:19:00,[1.79],"['Water', 'Ground', 'Rock']","[{'num': '004', 'name': 'Charmander'}]","[{'num': '006', 'name': 'Charizard'}]",3,1
5,6,6,Charizard,http://www.serebii.net/pokemongo/pokemon/006.png,"['Fire', 'Flying']",1.70,90.5,Charmander Candy,0,0.0,0.000031,3,1900-01-01 00:13:34,NaN,"['Water', 'Electric', 'Rock']","[{'num': '004', 'name': 'Charmander'}, {'num':...",NaN,3,0
7,8,8,Wartortle,http://www.serebii.net/pokemongo/pokemon/008.png,['Water'],0.99,22.5,Squirtle Candy,100,0.0,0.000340,34,1900-01-01 00:07:02,[1.4],"['Electric', 'Grass']","[{'num': '007', 'name': 'Squirtle'}]","[{'num': '009', 'name': 'Blastoise'}]",2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,146,146,Moltres,http://www.serebii.net/pokemongo/pokemon/146.png,"['Fire', 'Flying']",2.01,60.0,None,0,0.0,0.000000,0,1900-01-01 00:00:00,NaN,"['Water', 'Electric', 'Rock']",NaN,NaN,3,0
147,148,148,Dragonair,http://www.serebii.net/pokemongo/pokemon/148.png,['Dragon'],3.99,16.5,Dratini Candy,100,0.0,0.000200,20,1900-01-01 00:11:57,[2.05],"['Ice', 'Dragon', 'Fairy']","[{'num': '147', 'name': 'Dratini'}]","[{'num': '149', 'name': 'Dragonite'}]",3,1
148,149,149,Dragonite,http://www.serebii.net/pokemongo/pokemon/149.png,"['Dragon', 'Flying']",2.21,210.0,Dratini Candy,0,0.0,0.000011,1,1900-01-01 00:23:38,NaN,"['Ice', 'Rock', 'Dragon', 'Fairy']","[{'num': '147', 'name': 'Dratini'}, {'num': '1...",NaN,4,0
149,150,150,Mewtwo,http://www.serebii.net/pokemongo/pokemon/150.png,['Psychic'],2.01,122.0,None,0,0.0,0.000000,0,1900-01-01 00:00:00,NaN,"['Bug', 'Ghost', 'Dark']",NaN,NaN,3,0
150,151,151,Mew,http://www.serebii.net/pokemongo/pokemon/151.png,['Psychic'],0.41,4.0,None,0,0.0,0.000000,0,1900-01-01 00:00:00,NaN,"['Bug', 'Ghost', 'Dark']",NaN,NaN,3,0

In [59]:
# Assuming we have a DataFrame named 'df2' containing Pok√©mon data

# Extracting minutes and seconds from 'spawn_time' column and convert to seconds
df2['spawn_seconds'] = df2['spawn_time'].apply(lambda x: x.minute * 60 + x.second)

# Filtering the DataFrame to get Pok√©mon with spawn time less than 300 seconds
spawn_time_less_than_300 = df2[df2['spawn_seconds'] < 300]

# Print the resulting Pok√©mon
spawn_time_less_than_300.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,prev_evolution,next_evolution,weakness_length,evolution_length,spawn_seconds
6,7,7,Squirtle,http://www.serebii.net/pokemongo/pokemon/007.png,['Water'],0.51,9.0,Squirtle Candy,25,2.0,0.005800,580,1900-01-01 00:04:25,[2.1],"['Electric', 'Grass']",NaN,"[{'num': '008', 'name': 'Wartortle'}, {'num': ...",2,2,265
8,9,9,Blastoise,http://www.serebii.net/pokemongo/pokemon/009.png,['Water'],1.60,85.5,Squirtle Candy,0,0.0,0.000067,6,1900-01-01 00:00:06,NaN,"['Electric', 'Grass']","[{'num': '007', 'name': 'Squirtle'}, {'num': '...",NaN,2,0,6
10,11,11,Metapod,http://www.serebii.net/pokemongo/pokemon/011.png,['Bug'],0.71,9.9,Caterpie Candy,50,0.0,0.001870,187,1900-01-01 00:02:11,"[3.55, 3.79]","['Fire', 'Flying', 'Rock']","[{'num': '010', 'name': 'Caterpie'}]","[{'num': '012', 'name': 'Butterfree'}]",3,1,131
12,13,13,Weedle,http://www.serebii.net/pokemongo/pokemon/013.png,"['Bug', 'Poison']",0.30,3.2,Weedle Candy,12,2.0,0.071200,7120,1900-01-01 00:02:21,"[1.01, 1.09]","['Fire', 'Flying', 'Psychic', 'Rock']",NaN,"[{'num': '014', 'name': 'Kakuna'}, {'num': '01...",4,2,141
13,14,14,Kakuna,http://www.serebii.net/pokemongo/pokemon/014.png,"['Bug', 'Poison']",0.61,10.0,Weedle Candy,50,0.0,0.004400,440,1900-01-01 00:02:30,"[3.01, 3.41]","['Fire', 'Flying', 'Psychic', 'Rock']","[{'num': '013', 'name': 'Weedle'}]","[{'num': '015', 'name': 'Beedrill'}]",4,1,150